{% load static %}



<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ player.summonername }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'playerstats/style.css' %}">
  </head>

  <body>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class="vertical-align-container">
      <div class="content-container">
        <div class="player-info-navbar-container">
          <div class="player-info-navbar">
            <div class="info-container">
              <div class="row-container">
                <div class="previous-rank">
                  <a>Sample Text:</a>
                  <a>S8 Challenger</a>
                  <a>S9 Iron IV</a>
                </div>
              </div>

              <div class="row-container">
                <div class="summoner-icon-container">

                </div>

                <div class="account-summary-info">
                  <div class="ladder-rank-info">
                    Ladder rank 1 (0.0001% of top)
                  </div>
                  <div class="summoner-name-info">
                    <div class="summoner-name">
                      {{ player.summonername }}
                    </div>
                    <div class="region">
                      {{ player.region }}
                    </div>
                  </div>
                  <div class="buttons-container">
                    <div class="update-button">
                      update
                    </div>
                    <div class="favourite-button">
                      favourite
                    </div>
                  </div>
                  <div class="last-updated">
                    Last updated: 1 second ago
                  </div>
                </div>
              </div>
            </div>
            <div class="menu">
              <div class="overview">
                overview
              </div>
              <div class="live-game">
                live game
              </div>
            </div>
          </div>
        </div>

        <div class="match-summary-info-container">

          <div class="ranked-container">
            <div class="solo-ranked-info-container">
              <div class="crest-container">
                <div class="rank-solo-crest">

                </div>
              </div>
              
              <div class="text-container">
                <div class="game-mode">
                  Ranked solo
                </div>
                <div class="player-tier-container">
                  <div class="player-tier">
                    {{ player.tier }}
                  </div>
                  <div class="player-lp">
                    {{ player.leaguepoints }}{{ " LP" }}
                  </div>
                </div>
                <div class="player-winrate-container">
                  <div class="player-winrate">
                    {{ "Winrate 69.0% " }}
                  </div>
                  <div class="player-win-loss-ratio">
                    {{ "(" }}{{ player.wins }}{{ "W " }}{{ player.losses }}{{ "L)" }}
                  </div>
                </div>
              </div>
            </div>

            <div class="flex-ranked-info-container">
              <div class="crest-container">
                <div class="rank-flex-crest">

                </div>
              </div>
              
              <div class="text-container">
                <div class="game-mode">
                  Ranked solo
                </div>
                <div class="player-tier-container">
                  <div class="player-tier">
                    {{ player.tier }}
                  </div>
                  <div class="player-lp">
                    {{ player.leaguepoints }}{{ " LP" }}
                  </div>
                </div>
                <div class="player-winrate-container">
                  <div class="player-winrate">
                    {{ "Winrate 69.0% " }}
                  </div>
                  <div class="player-win-loss-ratio">
                    {{ "(" }}{{ player.wins }}{{ "W " }}{{ player.losses }}{{ "L)" }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="tier-graph-wrapper">
            <div class="tier-graph-container">
              <div class="tier-graph-header">
                Tier Graph
              </div>
              <div class="tier-graph-diagram">
                a diagram of tier vs time goes here
              </div>
            </div>
          </div>

          <div class="other-game-mode-wrapper">
            <div class="other-game-mode-container">
              <div class="game-mode-container">
                <div class="game-mode-title">
                  ARAM
                </div>
                <div class="game-mode-stats">
                  <div class="winrate">
                    <div class="text">Winrate </div>
                    <div class="win-percentage">
                      {{ "69.0% " }}
                    </div>
                  </div>
                  <div class="player-win-loss-ratio">
                    {{ "420W 69L" }}
                  </div>
                </div>
              </div>

              <div class="game-mode-container">
                <div class="game-mode-title">
                  URF
                </div>
                <div class="game-mode-stats">
                  <div class="winrate">
                    <div class="text">Winrate </div>
                    <div class="win-percentage">
                      {{ "69.0% " }}
                    </div>
                  </div>
                  <div class="player-win-loss-ratio">
                    {{ "420W 69L" }}
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="stats-by-champion-container">
          <div class="champions-navbar">
            <div class="champions-navbar-option">Summoner's Rift</div>
            <div class="champions-navbar-option">ARAM</div>
            <div class="champions-navbar-option">URF</div>
            <div class="champions-navbar-option">event mode</div>
          </div>

          <div class="detail-navbar">
            <div class="option-container">
              <div class="option"><div class="option-text">Solo Ranked</div></div>
              <div class="option"><div class="option-text">Flex Ranked</div></div>
              <div class="option"><div class="option-text">Normal</div></div>
            </div>
            <div class="option-container">
              <div class="option"><div class="option-text">All</div></div>
              <div class="option"><div class="option-text">Top</div></div>
              <div class="option"><div class="option-text">Jungle</div></div>
              <div class="option"><div class="option-text">Mid</div></div>
              <div class="option"><div class="option-text">Bot</div></div>
              <div class="option"><div class="option-text">Support</div></div>

            </div>
          </div>
        </div>

        <div class="match-history-container">
          <a>match-history-container</a>
        </div>

        <div class="recently-played-with-container">
          <a>recently-played-with-container</a>
        </div>
      </div>

    </div>



  </body>
</html>
<!-- 
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'playerstats/style.css' %}">

<h1>{{ player.summonername }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h2>{{ "Region: " }}{{ player.region }}</h2>
<h2>{{ "Rank: " }}{{ player.tier }}</h2>
<h2>{{ "LP: " }}{{ player.leaguepoints }}</h2>
<h2>{{ "Wins: " }}{{ player.wins }}</h2>
<h2>{{ "Losses: " }}{{ player.losses }}</h2> -->